<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input name="uname" type="text" id="login_uname" required>
                <input name="password" type="login_password" id="pass" required>
                <input type="submit" id="submit_login_form">
                {% if value %}
                    <p id="login_fail_message">The given username or password is wrong</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>